h1{
    background-color: aqua;
}
h2{
    background-color: rgb(162, 37, 37);
}
h3{
    background-color: #fbf5f5;
}h4{
    background-color: black;
}h5{
    background-color: rgb(219, 170, 170);
}h6{
    background-color: #ef0e0e;
}
